#chess {
    padding-left: 2%;
    padding-right: 2%;
    margin-bottom: 0%;
}

#gameboard {
    display: flex;
    margin: 0 auto;
    height: 560px;
    width: 560px;
    border: 2px;
    border-style: solid;
}

.board-tile {
    /* @extend #gameboard; */
    position: relative;
    flex: 1;
    width: 70px;
    height: 70px;
}

.piece {
    position: relative;
    top: 5px;
    left: 5px;
}

#settings {
    margin-bottom: 50px;

}