#chess {
    padding-left: 2%;
    padding-right: 2%;
    margin-bottom: 0%;
}

#gameboard {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    height: 560px;
    width: 560px;
    border: 2px;
    border-style: solid;
}

.board-tile {
    /* @extend #gameboard; */
    /* display:flex; */
    position: relative;

    flex: 1 1 70px;
    width: 70px;
    height: 70px;
    background-position: center; 
}

.valid-marker {
    position: relative;
    top: 22.5px;
    left: 22.5px;
}


.piece {
    /* position: relative;
    top: 10px;
    left: 10px; */
}

.bp {

}

.wp {

}

.bb {

}

.wb {

}

.br {

}

.wr {

}

.bn {

}

.wn {

}

.bq {

}

.wq {

}

.bk {

}

.wk {

}


#settings {
    margin-bottom: 50px;

}