#masthead{
    text-align: center;
    color: black; 
    /* background-color: brown; */
    /* background-image: url("assets/flame_banner.jpg"); */
    padding-top: 25px;
    padding-bottom: 400px;
    background-size: 100% 95%;
    background-repeat: no-repeat;
}


h1 {
    text-align: center;
    font-size: xx-large;
}

h2 {
    text-align: center;
    font-size: x-large;
}

h4 {
    text-align: left;
    text-decoration: underline;
}

#ai-text {
    background-color: black;
    color: lime;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 30px;
    padding-bottom: 30px;
}

#arrow {
    background-color: lightgray;
    align-items: center;
    padding-bottom: 25px;
    padding-top: 25px;
}