body{
    margin: 0px;
}

h1 {
    text-align: center;
    font-size: xx-large;
    font-family: Helvetica, Verdana, Arial;
}

h2 {
    text-align: center;
    font-size: x-large;
    font-family: Helvetica, Verdana, Arial;
}

h4 {
    text-align: left;
    text-decoration: underline;
    font-family: Helvetica, Verdana, Arial;
}

p {
    font-family: Helvetica, Verdana, Arial;
}

#navbar {
    position: sticky;
    height: 20px;
}

#masthead{
    position: relative;
	margin: 0px;
	padding: 0;
    border: 3px;
    padding-bottom: 350px;
    vertical-align: baseline;

    text-align: center;
    color: black; 

    /* background-size: contain; */
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border-style: solid;
    ;
}

#gpt-j {
    padding-left: 2%;
    padding-right: 2%;
    margin-bottom: 0%;
}

#ai-text {
    background-color: black;
    color: lime;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 15px;
    font-family: "Courier New";
    margin-bottom: 0%;
}

.choice-containter {
    display: flex; 
    height: 120px;
    border-style: dotted;
    margin-top: 10px;
    align-items: center;
}

.choice-containter div {
    border: 1px;
    padding: 10px;
}

.box-1 {
    position: relative;
    height: 100px;
    flex: 3;
}

.box-1 img {
    position: absolute;
    height: 80%;
    top: 10%;
    width: 40%;
    left: 60%;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    opacity: 0;
}

.box-1 button {
    position: absolute;
    height: 20%;
    top: 40%;
    width: 30%;
    left: 30%;
}

.box-2 {
    flex: 1;
}

.box-3 {
    position: relative;
    height: 100px;
    flex: 3;
}

.box-3 img {
    position: absolute;
    height: 80%;
    top: 10%;
    width: 40%;
    left: 0%;
    opacity: 0;
}

.box-3 button {
    position: absolute;
    height: 20%;
    top: 40%;
    width: 30%;
    left: 40%;
}



.left {
    position: relative;
    top: 10px;
    left: 60%;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);

    width: 35%;

} 

.right {
    position: relative;
    top: 10px;
    left: 0%;

    width: 35%;
}

.image_bl {
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}

.image_br {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}