body{
    margin: 0px;
}

h1 {
    text-align: center;
    font-size: xx-large;
    font-family: Helvetica, Verdana, Arial;
}

h2 {
    text-align: center;
    font-size: x-large;
    font-family: Helvetica, Verdana, Arial;
}

h4 {
    text-align: left;
    text-decoration: underline;
    font-family: Helvetica, Verdana, Arial;
}

p {
    font-family: Helvetica, Verdana, Arial;
}

#masthead{
    position: relative;
	margin: 0px;
	padding: 0;
    border: 3px;
    padding-bottom: 350px;
    vertical-align: baseline;

    text-align: center;
    color: black; 

    background-size: 100% 100%;
    background-repeat: no-repeat;
    border-style: solid;
    ;
}

#gpt-j {
    padding-left: 2%;
    padding-right: 2%;
    margin-bottom: 0%;
}

#ai-text {
    background-color: black;
    color: lime;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 15px;
    font-family: "Courier New";
    margin-bottom: 0%;
}

#choice-container {
    /* background-color: lightgray; */
    /* align-items: center; */
    height: 120px;
}

#choice-container div {
    position: relative;
    left: 5%;
    float: left;
    height: 100%;
    width: 45%;
    margin-top: 0%;
    padding-top: 0px;
}

#arrow {
    opacity: 0.5; 
    /* height: 10%; */
}

.leftselect {
    position: relative;
    top: 42%;
    left: 8%; 
    width:25%
}

.rightselect {
    position: relative;
    top: 42%;
    left: 25.8%; 
    width:25%
}

#choice-container.rightselect {
    position: relative;
    bottom: 0px;
    /* left: 50%; */
}

.left {
    position: relative;
    top: 20px;
    left: 50%;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);

    width: 20%;
    /* height: 90%; */
    /* height: 5%; */
}

.right {
    position: relative;
    top: 20px;
    left: 30%;

    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);

    width: 20%;
    /* height: 90%; */
}

.image_bl {
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}

.image_br {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}